// These colors are specific to the theme. Do not use in a package!
@andromeda:       #2b303b;
@very-light-gray: #d3d3d3;
@light-gray:      #4b646d;
@gray:            #373b41;
@dark-gray:       #41464c;
@very-dark-gray:  #30353a;
@midnight:        #33475b;
@aftermidnight:darken(@andromeda,3%);
@cyan:            #00b0ff;
@blue:            #3a69d8;
@altblue:         #0087ff;
@purple:          #8c44aa;
@green:           #15df6b;
@magenta:         #ff2857;
@red: darken(@magenta, 5%);
@orange:          #ffc83f;
@yellow:          #fccd11;
@light-orange:    #ff693f;
@lime:            #b2f711;
@aqua:            #078480;
@aquadark:        #084b5e;
@lila:            #c90481;
