.syntax--php{

  &.syntax--meta {
    &.syntax--class {
      color: @yellow;
    }
    &.syntax--function-call{
      color: @orange;
      &.syntax--arguments{
        color: @magenta;
        &.syntax--begin,
        &.syntax--end{
          color:white;
        }
      }
    }
  }

  &.syntax--support{
    &.syntax--class{
      color:@red;
    }
  }

  &.syntax--storage {
    color: @purple;
  }

  &.syntax--variable {
    color: @red;
  }

  &.syntax--entity{
    &.syntax--name{
      color: @orange;
    }
    &.syntax--function{
       color: @orange;
    }
    &.syntax--other{
      color:white;
      &.syntax--inherited-class{
        color:white;
      }
    }
  }

  &.syntax--object {
    .syntax--string.syntax--unquoted {
      color: lighten(@green, 10%);
    }
  }

  &.syntax--keyword.syntax--control {
    color: @altblue;
    &.syntax--flow {
      color: @orange;
    }
  }

  &.syntax--decimal{
    color:white;
  }

  &.syntax--numeric{
    color: white;
  }

  &.syntax--punctuation{
    &.syntax--section{
      &.syntax--scope{
        &.syntax--begin,
        &.syntax--end{
          color:white
        }
      }
    }
    &.syntax--embedded{
      &.syntax--begin,
      &.syntax--end{
        color:white
      }
    }
    &.syntax--arguments{
      color:white;
    }
    &.syntax--definition{
      &.syntax--arguments{
        color:@magenta;
        &.syntax--begin,
        &.syntax--end{
          color:white;
        }
      }
    }
  }

}
